<h1>Find your recipes!</h1>
<div class="search">
  <input placeholder="Find a recipe (min 3 letters)" type="text" [(ngModel)]="pattern" class="input-elevated">
</div>
<div class="content">
  <div *ngFor="let recipe of recipes | filter:'title':pattern; let i = index" class="info">
    <a href="{{recipe.href}}" target="blank">
      <div class="recipe">
        <h3>
          {{recipe.title}}
        </h3>
        <img *ngIf="recipe.thumbnail" src="{{recipe.thumbnail}}" alt="">
        <img *ngIf="!recipe.thumbnail" src="../../assets/images/no_thumb.jpg" alt="">
        <p>
          <b>Ingredients:</b> <br>
          {{(recipe.ingredients.length>90)? (recipe.ingredients | slice:0:90)+'..':(recipe.ingredients) }}
        </p>
      </div>
    </a>
  </div>
</div>